.page-header {
    background-color: #FFF;
}


/* Name */
.section-name {
    background-color: #2E2F42;
    text-align: center;
}

h1 {
    color: #FFF;

}

.feature {
    background-color: #FFF;
}

.team-block {
    background-color: #F4F4FD;
}

.portfolio {
    background-color: #FFF;
}

.page-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}