/* Header */
.webstudio {
    font-family: "Realway";
}

.page-header ul a {

    color: #2E2F42;
    font-weight: 500;

}

.address-list ul a {
    font-weight: 400;
    color: #434455;
}

.page-header .link:hover {
    color: #404BBF;
}

.address-list .link:hover {
    color: #404BBF;
}

/* Body */

body {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF;
    font-family: "Roboto", "Realway";
}

/* Title h1*/
.page-title {
    color: #FFF;
    font-size: 56px;
}

/* section-title h2 */
.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
}

/* title h3 */
.title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
}

/* Name */
.section-name {
    background-color: #2E2F42;

}

.section-name .link:hover {
    color: #404BBF;
}

.order:active {
    color: #404BBF;
}



.page-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}