/* Header */

.page-header {
    letter-spacing: 0.32px;
}

.webstudio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.03em;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
}

.studio {
    color: #2e2f42;
}

.header .link {

    color: #2E2F42;
    font-weight: 500;
    text-decoration: none;
}

.header .link:hover,
.header .link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.address-list {
    font-style: normal;
}

.address-list .link {
    font-weight: 400;
    color: #434455;
    font-style: normal;

}

.address-list .link:hover,
.address-list .link:focus {
    color: #404BBF;
}

/* Body */

body {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-style: normal;
    letter-spacing: 0.32px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

/*  Main Title */

.section-main-title {
    background-color: #2E2F42;
    text-align: center;
    letter-spacing: 1.12px;
}

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* Title h1*/
.page-title {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 1.12px;
    line-height: 1.07;
}

/* section-title h2 */
.section-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.section-title-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* title h3 */
.title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;

}

/* Section 3 */
.team-block-ul {
    background-color: #F4F4FD;
}

.section-title-team {
    text-align: center;
    line-height: 1.11;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}

/* Secton 4 */
.portfolio-ul {
    background-color: #F4F4FD;
}

.page-footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    letter-spacing: 0.02em;


}

.page-footer-p {
    line-height: 1.5;
    color: #F4F4FD;
}

.studio-2 {
    color: #f4f4fd;
}